version: "3.7"
services:
  mongodb:
    # Сервис MongoDB
    image: mongo:latest
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
      MONGODB_DATABASE: tk
      MONGODB_HOSTNAME: mongodb
#      TELEGRAM_TOKEN: "7632789074:AAFseWWJtsMYQocqHFQMj-0rljn64eXyDpE"
    ports:
      - 127.0.0.1:24700:27020
    volumes:
      - mongodb_data:/data/db

  evo_telebot:
    # Сервис evo_telebot
    platform: linux/amd64
    build: .
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
      MONGODB_DATABASE: tk
      MONGODB_HOSTNAME: mongodb
      TELEGRAM_TOKEN: "7632789074:AAFseWWJtsMYQocqHFQMj-0rljn64eXyDpE"
    volumes:
      - ./app:/home/nonroot/app
    command: sh -c "ulimit -n 1024 && poetry run watchmedo auto-restart -d . -p '*.py' -R -- python3 bot/__init__.py"

    depends_on:
      - mongodb

volumes:
  mongodb_data:
